<h1>Hello</h1>

<p>Voce esta em ambinete de <strong><%=Rails.env %></strong></p>


<p>Voce esta em ambinete de <strong><%= ambiente %></strong></p>

<p>Sou  uma variavel de sessao:<%= @nome %></p>
<p>Sou  uma variavel de sessao:<%= meu_curso %></p>

