<h1>Seja bem vindo</h1>
<h1>Vander Quintanilha</h1>
<p> A soma é : <%= 1 + 1 =%> </p>
<p> Seu nome de tras para frente é: <%= "Vander".reverse=%> </p>
<% a= "minha variavel" %>
<p> Imprimrndo a variavel: <%= a =%> </p>
<p> A data de hoje é: <%= Date.today %> </p>


 
